[submodule "karto-2d-slam"]
	path = karto-2d-slam
	url = git@github.com:Tenant/utils-carto-2d-slam.git
[submodule "rosbag-parser"]
	path = rosbag-parser
	url = git@github.com:Tenant/utils-rosbag-parser.git
[submodule "map-annotation"]
	path = map-annotation
	url = git@github.com:Tenant/utils-map-annotation-qt.git
[submodule "dsv2ds"]
	path = dsv2ds
	url = git@github.com:Tenant/utils-dsv2ds-converter.git
[submodule "dsv-viewer"]
	path = dsv-viewer
	url = git@github.com:Tenant/utils-dsv-viewer.git
