[submodule "karto-2d-slam"]
	path = karto-2d-slam
	url = git@github.com:Tenant/utils-carto-2d-slam.git
[submodule "rosbag-parser"]
	path = rosbag-parser
	url = git@github.com:Tenant/utils-rosbag-parser.git
[submodule "map-annotation"]
	path = map-annotation
	url = git@github.com:Tenant/utils-map-annotation-qt.git
[submodule "dsv2ds"]
	path = dsv2ds
	url = git@github.com:Tenant/utils-dsv2ds-converter.git
[submodule "dsv-viewer"]
	path = dsv-viewer
	url = git@github.com:Tenant/utils-dsv-viewer.git
[submodule "range-image-viewer"]
	path = range-image-viewer
	url = git@github.com:Tenant/utils-range-image-viewer.git
[submodule "camera-lidar-player"]
	path = camera-lidar-player
	url = git@github.com:Tenant/utils-camera-lidar-player.git
[submodule "dsv2dem"]
	path = dsv2dem
	url = git@github.com:Tenant/utils-dsv2dem.git
[submodule "road-planning-simulator"]
	path = road-planning-simulator
	url = git@github.com:Tenant/utils-road-planning-simulator.git
[submodule "camera2lidar-calibration"]
	path = camera2lidar-calibration
	url = git@github.com:Tenant/utils-camera2lidar-calibration.git
[submodule "vdn2dsv"]
	path = vdn2dsv
	url = git@github.com:Tenant/utils-vdn-dsv.git
