[submodule "karto-2d-slam"]
	path = karto-2d-slam
	url = git@github.com:Tenant/utils-carto-2d-slam.git
[submodule "rosbag-parser"]
	path = rosbag-parser
	url = git@github.com:Tenant/utils-rosbag-parser.git
[submodule "map-annotation"]
	path = map-annotation
	url = git@github.com:Tenant/utils-map-annotation-qt.git
[submodule "dsv2ds"]
	path = dsv2ds
	url = git@github.com:Tenant/utils-dsv2ds-converter.git
[submodule "dsv-viewer"]
	path = dsv-viewer
	url = git@github.com:Tenant/utils-dsv-viewer.git
[submodule "range-image-viewer"]
	path = range-image-viewer
	url = git@github.com:Tenant/utils-range-image-viewer.git
[submodule "camera-lidar-player"]
	path = camera-lidar-player
	url = git@github.com:Tenant/utils-camera-lidar-player.git
[submodule "dsv2dem"]
	path = dsv2dem
	url = git@github.com:Tenant/utils-dsv2dem.git
[submodule "road-planning-simulator"]
	path = road-planning-simulator
	url = git@github.com:Tenant/utils-road-planning-simulator.git
[submodule "camera2lidar-calibration"]
	path = camera2lidar-calibration
	url = git@github.com:Tenant/utils-camera2lidar-calibration.git
[submodule "vdn2dsv"]
	path = vdn2dsv
	url = git@github.com:Tenant/utils-vdn-dsv.git
[submodule "vdn-viewer"]
	path = vdn-viewer
	url = git@github.com:Tenant/utils-vdn-viewer.git
[submodule "velodyne-interface"]
	path = velodyne-interface
	url = git@github.com:Tenant/utils-velodyne-datainterface.git
[submodule "camera-calibration-opencv"]
	path = camera-calibration-opencv
	url = git@github.com:Tenant/utils-camera-calibration-opencv.git
[submodule "pedestrian-detection-yolo"]
	path = pedestrian-detection-yolo
	url = git@github.com:Tenant/utils-pedestrian-detection-YOLO.git
[submodule "map-label-tool"]
	path = map-label-tool
	url = git@github.com:Tenant/utils-map-label-tool.git
[submodule "utils"]
	path = utils
	url = git@github.com:Tenant/coding-library.git
[submodule "laser-map-toolbox"]
	path = laser-map-toolbox
	url = git@github.com:Tenant/utils-laser-map-toolbox.git
[submodule "3d-slam-visualization"]
	path = 3d-slam-visualization
	url = git@github.com:Tenant/Loam3DViz.git
[submodule "demo-3d-coordinate-transform"]
	path = demo-3d-coordinate-transform
	url = git@github.com:Tenant/utils-3d-coordinate-transform.git
[submodule "CANViewer"]
	path = CANViewer
	url = git@github.com:Tenant/utils-canvewer.git
[submodule "loam-feature-vis"]
	path = loam-feature-vis
	url = git@github.com:Tenant/loam-feature-vis.git
[submodule "loam"]
	path = loam
	url = https://github.com/YoshuaNava/loam.git
